div {}

.container {
    background-color: purple;
    width: 80vw;
    /* height: 800px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}

.item {
    background-color: orange;
    /* width: 200px; */
    /* height: 150px; */
    border: solid 2px rgb(230, 202, 151);
    border-radius: 10px;
    font-size: 32px;
    color: white;
    /* box-sizing: border-box; */
    flex-basis: 0;
    flex-grow: 1;
    /* flex: 1 1 300px; */
}

.item:nth-child(2) {
    height: 250px;
    font-size: 150px;
    /* align-self: baseline; */
    flex-basis: 500px;
    flex-shrink: 2;
}

.item:nth-child(3) {
    height: 350px;
    font-size: 90px;
    /* align-self: baseline; */
}

.item:nth-child(5) {
    background-color: green;
    order: 1;
    flex-grow: 5;
}

.item:nth-child(9) {
    order: 2;
}

.item:nth-child(10) {
    order: 3;
}