@import url("bootstrap-4.0.0/dist/css/bootstrap.min.css");
.jumbotron {
    width: 400px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-top: 20px;
}

.input-container {
    display: grid;
    row-gap: 1em;
}

.buttons {
    margin-top: 10px;
}