<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p>Camisas - R$ <span>{{preco}}</span></p>
    <button @click="total++">Adicionar</button>
    <button @click="total--">Remover</button>
    <span>{{total}}</span>
    <p>Total: <span>{{preco * total}}</span></p>
  </div>

  <div>
    <p>Bermudas - R$ <span class="preco"></span></p>
    <button class="adicionar">Adicionar</button>
    <button class="remover">Remover</button>
    <span class="total"></span>
    <p>Total: <span class="precoTotal"></span></p>
  </div>

  <script>

    // Código com VueJs
    const vm = new Vue({
      el: '#app',
      data: {
        preco: 69,
        total: 0
      }
    })

    // Código sem VueJs
    const dados = {
      preco: 49,
      total: 0
    }

    const preco = document.querySelector('.preco');
    const total = document.querySelector('.total');
    const precoTotal = document.querySelector('.precoTotal');
    const adicionar = document.querySelector('.adicionar');
    const remover = document.querySelector('.remover');

    preco.innerText = dados.preco;
    total.innerText = dados.total;
    precoTotal.innerText = dados.preco * dados.total;

    function incrementar() {
      dados.total++;
      atualizarUi();
    }

    function diminuir() {
      dados.total--;
      atualizarUi();
    }

    function atualizarUi() {
      total.innerText = dados.total;
      precoTotal.innerText = dados.total * dados.preco
    }

    adicionar.addEventListener('click', incrementar);
    remover.addEventListener('click', diminuir);
  </script>
</body>
</html>