<section [ngClass]="{ loading: !taskList.length }">
  <ul *ngIf="taskList.length">
    <li *ngFor="let item of taskList; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked" />
      <input
        type="text"
        [(ngModel)]="item.task"
        [ngClass]="{ checked: item.checked }"
        (keyup)="validationInput(item.task, i)"
      />

      <button (click)="deleteItemTaskList(i)">
        <img
          src="../../../../../assets/icons/icon-trash.svg"
          alt="icon-trash.svg"
        />
      </button>
    </li>
  </ul>
</section>

<t-todo-input-add-itens
  (emitItemTaskList)="setEmitTaskList($event)"
></t-todo-input-add-itens>
<t-todo-button-delete-all
  *ngIf="taskList.length"
  (click)="deleteAllTaskList()"
></t-todo-button-delete-all>
