<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div v-if="comprou" :style="{background: cor}">
      <h1>{{titulo}}</h1>
      <p>{{conteudo}}</p>
      <p>{{lado*lado-lado/100}}</p>
      <p>{{comprou ? 'Sim ele comprou' : 'Não comprou, compre aqui'}}</p>
      <input type="color" v-model="cor" />
      {{cor}}
    </div>
    <a :href="comprou ? href : ''">Site</a>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        titulo: 'Curso de JS',
        conteudo: 'Esse é o conteúdo',
        lado: 5,
        comprou: true,
        href: 'https://www.gyntechinfo.com',
        cor: 'fff'
      }
    })
  </script>
</body>
</html>