<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    {{nome}}, {{idade}}, {{faculdade.possui}}
  </div>
  <script>
    const vm = new Vue({
      el: 'app',
      data: {
        nome: 'Gleyson',
        idade: 30,
        faculdade: {
          possui: 'sim',
          curso: 'Analise'
        }
      }
    });
    console.log(vm);
  </script>
</body>
</html>