<script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
  <div class="demo" :class="{'c1': aplyC1}" @click="aplyC1 = !aplyC1"></div>
  <div class="demo"></div>
  <div class="demo"></div>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      aplyC1: false
    }
  })
</script>

<style>
  #app {
    display: flex;
    justify-content: space-around;
  }

  .demo {
    width: 100px;
    height: 100px;
    background-color: gray;
  }

  .c1 {
    background-color: red;
  }

  .c2 {
    background-color: green;
  }

  .c3 {
    background-color: blue;
  }
</style>