<script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <!-- <button v-on:click="aumentar">Aumentar</button> -->
    <button v-on:click="aumentar">Aumentar</button>
    <button v-on:click="diminuir">Diminuir</button>
    <p>Contador: {{contador}}</p>
    <p>Resultado: {{resultado}}</p>
    <!-- <p>Resultado: {{resultado()}}</p> -->

</div>

<script>
    new Vue({
        el: '#app',
        data: {
            contador: 0,
            // resultado:''
        },
        computed: {
            resultado() {
                return this.contador >= 5 ? 'Maior ou igual a 5' : 'Menor do que 5'
            }
        },
        methods: {
            aumentar() {
                this.contador++
                // this.resultado=this.contador > 5 ?
                // 'Maior ou igual a 5':'Menor do que 5'
            },
            diminuir() {
                this.contador--
                // this.resultado=this.contador > 5 ?
                // 'Maior ou igual a 5':'Menor do que 5'
            },
            // resultado() {
            //     return this.contador >= 5 ? 'Maior ou igual a 5' : 'Menor do que 5'
            // }
        }
    })
</script>