<script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
<!-- Com essa diretiva v-once ele apenas interpola esse dado uma unica vês não atualizando posteriormente o dado marcado -->
    <p v-once>{{ titulo }}</p>
    <p>{{ saudacao() }}</p>
    <a v-bind:href="link">Google</a>
</div>

<script>
    new Vue({
        el:'#app',
        data: {
            titulo: 'Usando VueJs!',
            link: 'http://google.com'
        },
        methods:{
            saudacao(){
                this.titulo='bom dia!!!'
                return this.titulo
            }
        }
    })
</script>