<template>
  <v-app>
    <cd-drawer />
    <cd-header />
    <cd-carousel />
    <cd-footer />
  </v-app>
</template>

<script>
import Drawer from "@/components/App/Drawer/Drawer.vue";
import Header from "@/components/App/Header/Header.vue";
import Carousel from "@/components/App/Carousel/Carousel.vue";
import Footer from "@/components/App/Footer/Footer.vue";

export default {
  components: {
    "cd-drawer": Drawer,
    "cd-header": Header,
    "cd-carousel": Carousel,
    "cd-footer": Footer,
  },
};
</script>
