<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="(cor, i) in cores">{{ i + 1 }}) {{ cor }}</li>
    </ul>
    <hr>
    <template v-for="(cor, i) in cores">
        <h1>{{ cor }}</h1>
        <p>{{ i }}</p>
    </template>
    <hr>
    <ul>
        <li v-for="pessoa in pessoas">
            <!-- Com o for abaixo é possivel ler os valores do objeto em questão, tendo 
            a possibilidade de pegar não só o valor mais as chaves definidas 
            no objeto tbm bem como o indice -->
            <div v-for="(valor, chave, index) in pessoa">
                {{ chave }} = {{ valor }} ({{ index + 1}})
            </div>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                { nome: 'Ana', idade: 26, peso: 59 },
                { nome: 'Guilherme', idade: 22, peso: 89 }
            ]
        }
    })
</script>

<style>
    ul {
        list-style: none;
    }

    h1,
    p {
        display: inline;
    }
</style>