<div>
  <v-title *ngIf="destruir" title="Hello World!"></v-title>
  <button (click)="Adicionar()">Adicionar</button>
  <button (click)="destruirComponent()">Destruir Component</button>
  <router-outlet></router-outlet>
</div>
